@font-face {
    font-family: 'SequelSans-Bold';
    src: url('../fonts/SequelSans-Bold.otf');
}

@font-face {
    font-family: 'SequelSans-Medium';
    src: url('../fonts/SequelSans-Medium.otf');
}
@font-face {
    font-family: 'SequelSans-Light';
    src: url('../fonts/SequelSans-Light.otf');
}
/*reset css*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

html, body {
    width: 100vw;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    &:hover {
        text-decoration: none;
    }
}

body {
    font-family: "Gilroy", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.6;
    color: #111111;
    background-color: black;
    overflow-x: hidden;
    overflow-y: scroll;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 0;
    z-index: 20;
    background-color: transparent;
}
h1 {
    font-family: 'SequelSans-Bold', sans-serif;
    font-size: 3.3vw;
    line-height: 1;
    color: #E7FFE9;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    max-width: 490px;
    margin-bottom: 2vw;
}

h2 {
    font-family: 'SequelSans-Light', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25vw;
    line-height: 1.5;
    color: #C0FFC7;
    opacity: 0.7;
}

h3 {
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0.15px;
    color: #000000;
    margin-bottom: 5px;
}

h4 {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0.15px;
    color: #000000;

}
section {
    width: 100%;
    margin: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

p {
    font-family: 'SequelSans-Medium', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #D1D1D1;
    opacity: 0.7;
    margin-bottom: 35px;
}

a.m-btn, button.m-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 270px;
    height: 50px;
    background: -o-linear-gradient(left, #30AD8E -4.55%, #6ADFBE 104.55%);
    background: -webkit-gradient(linear, left top, right top, color-stop(-4.55%, #30AD8E), color-stop(104.55%, #6ADFBE));
    background: linear-gradient(90deg, #30AD8E -4.55%, #6ADFBE 104.55%);
    -webkit-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.06);
    border-radius: 60px;
    font-family: 'Gilroy-Medium', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.circles {
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 55%;
    -webkit-transform: translate(-50%, 10px);
    -ms-transform: translate(-50%, 10px);
    transform: translate(-50%, 10px);
    width: auto;
    height: 90vh;
    img {
        height: 100%;
    }
}

.m-navbar {
    margin: auto;
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1vw 0;
    .navbar-collapse {
        -webkit-box-flex: inherit;
        -ms-flex-positive: inherit;
        flex-grow: inherit;
        width: 100%;
    }

    .navbar-nav {
        width: 100%;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .nav-item {
        .nav-link {
            font-family: 'SequelSans-Medium', sans-serif;
            font-size: 16px;
            line-height: 19px;
            color: #C0FFF0;
            opacity: 0.7;
            text-transform: uppercase;
            -webkit-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
            position: relative;
            padding-bottom: 15px;
            &:after {
                content:"";
                width: 7px;
                height: 7px;
                background-color: #89C1B1;
                border-radius: 100%;
                position: absolute;
                bottom: 0;
                left: 50%;
                -webkit-transform: translate(-50%, 0);
                -ms-transform: translate(-50%, 0);
                transform: translate(-50%, 0);
                opacity: 0;
                -webkit-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
            }
            &:hover {
                color: #C0FFF0;
                &:after {
                    opacity: 1;
                }
            }
        }
    }
    .navbar-toggler, .navbar-toggler:focus, .navbar-toggler:hover {
        border: none;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .mobile-logo {
        display: none;
    }

    .navbar-brand {
        width: 110px;
        padding-bottom: 0;
        height: 60px;
        img {
            width: 100%;
            max-width: 110px;
        }
    }
}
.header-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 88%;
}

.bg-main-image {
    width: 100vw;
    min-height: 100vh;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    background-image: url("../img/back-main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-attachment: fixed;
    &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
}

.main-page {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
    width: 95%;
    padding: 100px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1;
    position: relative;
    .main-contacts {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        -ms-flex-item-align: start;
        align-self: flex-start;
        padding-top: 5vw;
        a {
            font-family: 'SequelSans-Medium', sans-serif;
            font-size: 18px;
            color: #C0FFF0;
        }
    }
    .main-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        height: calc(100% - 40px);
        max-width: 1670px;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        &.transform {
            -webkit-transform: translateX(5%);
            -ms-transform: translateX(5%);
            transform: translateX(5%);
        }
        .text-block {
            width: 40%;
            margin-left: 5%;
        }
        .main-product-carousel {
            width: 55%;
            height: 100%;
            .main-product-carousel__item {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                max-width: 500px;
                height: 100%;
                img {
                    height: 100%;
                    width: auto;
                }
            }
        }
    }


    h2 {
        max-width: 430px;
    }
    .main-footer {
        max-width: 1670px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        position: absolute;
        bottom: 110px;
        left: 50%;
        width: 95%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .link-box {
        margin-bottom: -15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        a {
            margin-right: 8px;
            max-width: 135px;
            img {
                width: 100%;
            }
        }
        span {
            font-family: 'SequelSans-Medium', sans-serif;
            font-size: 16px;
            line-height: 19px;
            color: #C0FFF0;
            opacity: 0.7;
            text-transform: uppercase;
            margin-right: 35px;
            white-space: nowrap;
        }
    }
}

.basket-icon {
    width: 30px;
    img {
        width: 30px;
    }
}

.search-container {
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: white solid 2px;
}

.searchbar {
    float: right;
    background-color: transparent;
    color: white;
    padding: 6px 10px;
    width: 120px;
    border: none;
    margin-top: 1px;
    margin-right: 8px;
    font-family: "SequelSans-Medium", sans-serif;
    font-size: 16px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.searchbar::-webkit-input-placeholder {
    color: white;
    font-family: "SequelSans-Medium", sans-serif;
}

.searchbar::-moz-placeholder {
    color: white;
    font-family: "SequelSans-Medium", sans-serif;
}

.searchbar:-ms-input-placeholder {
    color: white;
    font-family: "SequelSans-Medium", sans-serif;
}

.searchbar::-ms-input-placeholder {
    color: white;
    font-family: "SequelSans-Medium", sans-serif;
}

.searchbar::placeholder {
    color: white;
    font-family: "SequelSans-Medium", sans-serif;
}

.searchbar:focus {
    width: 90%;
    max-width: 400px;
    font-family: "SequelSans-Medium", sans-serif;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    outline: none;
}

.btn-search {
    cursor: pointer;
    color: white;
    text-decoration: none !important;
    font-family: "SequelSans-Medium", sans-serif;
    padding-top: 5px;
}

.what-is-block {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.two-block {
    width: 90%;
    max-width: 1430px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    height: auto;
    padding: 200px 0;
    &.circle-bg-center {
        background-image: url("../img/big-circle-bg.svg");
        background-repeat: no-repeat;
        background-size: auto;
        background-position: top center;
    }
    &.column-reverse {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        .column .img {
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;
        }
    }

    .column {
        width: 48%;
        .main-btn {
            margin-top: 4vw;
        }
        .img {
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: end;
            -ms-flex-align: end;
            align-items: flex-end;
            img {
                width: 100%;
                max-width: 580px;
                margin-bottom: 45px;
            }
            p {
                font-style: italic;
                text-align: right;
                max-width: 410px;
                color: #BBBBBB;
            }
        }
        .text {
            width: 100%;
            padding-right: 25px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;
            .quote {
                -ms-flex-item-align: end;
                align-self: flex-end;
                width: 80%;
                max-width: 600px;
                min-width: 280px;
                margin-bottom: 100px;
                -webkit-transform: translateX(6vw);
                -ms-transform: translateX(6vw);
                transform: translateX(6vw);
                img {
                    width: 100%;
                }
                span {
                    font-family: 'SequelSans-Medium', sans-serif;
                    font-size: 16px;
                    line-height: 1.5;
                    text-align: right;
                    color: #F2F2F2;
                    opacity: 0.7;
                    display: block;
                    width: 100%;
                }
            }
            p {
                max-width: 575px;
            }
        }
    }
}
.caption {
    font-family: 'SequelSans-Bold', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 1;
    color: #E7FFE9;
    margin-bottom: 45px;
    text-transform: uppercase;
    &.big-margin-bottom {
        margin-bottom: 10vw;
    }
}

.main-btn {
    width: 100%;
    max-width: 340px;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #2F9556;
    border-radius: 6px;
    font-family: 'SequelSans-Medium', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #030303;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border: none;
    text-transform: uppercase;
    margin-top: 45px;
    &:hover, &:focus {
        background-color: #86E6AA;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: black;
    }
}


::-webkit-scrollbar {
    width: 10px;
    background: rgba(7, 56, 31, 0.65);
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px grey;
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #48C176;
    border-radius: 10px;
    height: 35px;
}

.drawer-wrapper {
    position: fixed;
    z-index: 40;
    top: 0;
    left: 0;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    width: 100vw;
    height: auto;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    &.show {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    .drawer-cover {
        width: 100%;
        height: auto;
        min-height: 100vh;
        background-color: rgba(74, 74, 74, 0.33);
    }
    .drawer {
        width: 100%;
        height: auto;
        min-height: 100vh;
        max-width: 400px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: black;
        padding: 15px 30px;
        .drawer-header {
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding: 30px 0;
            position: relative;
            .caption {
                font-family: "SequelSans-Medium", sans-serif;
                font-size: 18px;
                color: white;
                text-transform: uppercase;
                margin-bottom: 0;
            }
            .drawer-close-icon {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                position: absolute;
                right: 15px;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                cursor: pointer;
                -webkit-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                transition: all 0.3s ease;
                &:hover {
                    opacity: 0.7;
                }
            }
        }
        .drawer-body {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            p {
                color: white;
            }
        }
    }
}

.container {
    width: 95%;
    max-width: 1370px;
}

.stones {
    width: 100%;
    max-width: 900px;
    margin: auto;
}

.best-products {
    padding: 24vw 0 14vw 0;
    background-image: url("../img/bg-best.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.best-products-carousel {
    width: 85%;
    max-width: 1520px;
    margin: 0 -15px;
    margin-top: 6vw;
}

.carousel-nav-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 95%;
    position: absolute;
    bottom: 358px;
    max-width: 1700px;
    .carousel-nav__button {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 58px;
        height: 58px;
        background: #030303;
        -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.55);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.55);
        border-radius: 100%;
        cursor: pointer;
    }
}

.product-cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-image: url("../img/bg-cart.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    background-color: black;
    width: 320px;
    height: auto;
    min-height: 558px;
    padding: 22px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0 12px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    &:hover {
        .product-cart__img {
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
        }
    }
    .product-cart__img {
        margin-left: 40px;
        position: relative;
        display: block;
        width: 100%;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        &:focus, &:hover {
            border: none;
            outline: none;
        }

        &:after {
            content: url("../img/product.png");
            position: absolute;
            bottom: 0;
            left: 0;
            -webkit-transform: translateY(100%) rotate(-180deg);
            -ms-transform: translateY(100%) rotate(-180deg);
            transform: translateY(100%) rotate(-180deg);
            opacity: 0.1;
            z-index: 0;
        }
    }
    .product-cart__description {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        .name {
            font-family: 'SequelSans-Bold', sans-serif;
            font-size: 13px;
            line-height: 1.4;
            text-align: right;
            color: #BEDBC1;
            margin-bottom: 10px;
            margin-top: 15px;
        }
        span {
            font-family: 'SequelSans-Light', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 13px;
            line-height: 1.4;
            text-align: right;
            color: #B1C8B4;
            opacity: 0.8;
        }
    }
    .product-cart__footer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 10px 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        margin-top: 20px;
        .price {
            font-family: 'SequelSans-Bold', sans-serif;
            font-size: 20px;
            line-height: 1.4;
            text-align: right;
            color: #E7FFE9;
        }
    }
}

.btn-cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'SequelSans-Light', sans-serif;
    font-size: 10px;
    letter-spacing: 0.2em;
    line-height: 24px;
    color: #BEDBC1;
    text-transform: uppercase;
    padding: 5px 30px;
    height: 36px;
    border: 1px solid #2F9556;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3.51886px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: rgba(0, 0, 0, 0.11);
    z-index: 1;
    &:focus, &:hover {
        background-color: #2F9556;
        color: #BEDBC1;
    }
}

.water {
    background-image: url("../img/water-bg.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% auto;
    width: 100%;
    padding: 5vw 0;
}

.source {
    background-image: url("../img/source-bg.svg");
    background-repeat: no-repeat;
    background-position: left 150px;
    background-size: 25% auto;
    width: 100%;
    position: relative;
    .n-circle {
        position: absolute;
        bottom: 0;
        width: 15%;
        left: 12%;
    }
}

.plant {
    background-image: url("../img/plant-bg.svg");
    background-repeat: no-repeat;
    background-position: 55% 75%;
    background-size: 35%;
    width: 100%;
}

.product-page-bg {
    background-image: url("../img/page-product-bg.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 45% auto;
    width: 100%;
    min-height: calc(100vh - 200px);
    height: auto;
}

.product-page {
    margin-top: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.product-slider-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 48%;
    .slider-nav-thumbnails {
        height: auto;
        width: 110px;
        .slider-nav-thumbnails__item {
            width: 100px;
            height: 100px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            overflow: hidden;
            margin: 10px 0;
            border-radius: 6px;
            -webkit-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
            &:focus, &:hover {
                border: 1px solid #2F9556;
                outline: none;
                -webkit-box-shadow: none;
                box-shadow: none;
            }
            img {
                width: auto;
                height: 100%;
                -o-object-fit: cover;
                object-fit: cover;
            }
        }
    }
    .product-slider {
        width: calc(100% - 110px);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        overflow: hidden;
        .product-slider__item {
            width: 100%;
            height: 515px;
            overflow: hidden;
            img {
                width: auto;
                height: 100%;
                -o-object-fit: cover;
                object-fit: cover;
                margin: auto;
            }
        }
    }
}

.thumb-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 500px;
    margin-right: 50px;
}
.slider-nav__button {
    width: 50px;
    height: 50px;
    background: #030303;
    -webkit-box-shadow: 0px 0px 10px #2F9556;
    box-shadow: 0px 0px 10px #2F9556;
    border: 1px solid #2F9556;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.slider-button-next {
    img {
        margin-top: 2px;
    }
}

.page-product-cart__description {
    width: 48%;
    max-width: 550px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    .page-product-cart__name {
        font-family: 'SequelSans-Bold', sans-serif;
        font-size: 26px;
        line-height: 1.2;
        color: #E7FFE9;
        margin-bottom: 10px;
    }
    .page-product-cart__number {
        font-family: 'SequelSans-Medium', sans-serif;
        font-size: 16px;
        line-height: 1.5;
        color: #63CF8D;
        opacity: 0.7;
        margin-bottom: 50px;
    }
}

.page-product-cart__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin-top: 95px;
    .btn-cart {
        width: 202px;
        height: 50px;
        font-size: 15px;
        &:hover {
            color: white;
        }
    }
    .page-product-cart__price {
        font-family: 'SequelSans-Bold', sans-serif;
        line-height: 1;
        text-align: right;
        font-size: 53px;
        color: #E7FFE9;
        padding-bottom: 5px;
        margin-right: 5px;
    }
}


footer {
    width: 100%;
    background-image: url("../img/footer-bg.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 120px 0 140px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-attachment: fixed;
    .bottom {
        width: 90%;
        max-width: 1370px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin: auto;
        margin-top: -30px;
    }
    .copyright {
        font-family: 'SequelSans-Medium', sans-serif;
        font-size: 16px;
        line-height: 1.5;
        color: #E6F7DA;
        opacity: 0.7;
        width: 90%;
        max-width: 1370px;
        margin: auto;
        margin-top: 15px;
    }
    .footer-logo {
        opacity: 0.25;
        margin-right: 0;
    }
}

.contact-form {
    width: 90%;
    max-width: 770px;
    height: auto;
    background-color: #030303;
    padding: 80px 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    .caption {
        font-size: 26px;
    }
    form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 0;

        .form-group {
            width: 100%;
            input, textarea {
                width: 100%;
                font-family: 'SequelSans-Medium', sans-serif;
                font-size: 16px;
                line-height: 1.5;
                color: #E7F8D9;
                opacity: 0.7;
                background-color: transparent;
                border: none;
                border-bottom: 2px solid #2F9556;
                -webkit-box-shadow: none;
                box-shadow: none;
                outline: none;
                padding: 15px;
                -webkit-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                &::-webkit-input-placeholder {
                    font-family: 'SequelSans-Medium', sans-serif;
                    font-size: 16px;
                    line-height: 1.5;
                    color: rgba(231, 248, 217, 0.69);
                }
                &::-moz-placeholder {
                    font-family: 'SequelSans-Medium', sans-serif;
                    font-size: 16px;
                    line-height: 1.5;
                    color: rgba(231, 248, 217, 0.69);
                }
                &:-ms-input-placeholder {
                    font-family: 'SequelSans-Medium', sans-serif;
                    font-size: 16px;
                    line-height: 1.5;
                    color: rgba(231, 248, 217, 0.69);
                }
                &::-ms-input-placeholder {
                    font-family: 'SequelSans-Medium', sans-serif;
                    font-size: 16px;
                    line-height: 1.5;
                    color: rgba(231, 248, 217, 0.69);
                }
                &::placeholder {
                    font-family: 'SequelSans-Medium', sans-serif;
                    font-size: 16px;
                    line-height: 1.5;
                    color: rgba(231, 248, 217, 0.69);
                }
                &:focus {
                    border: 2px solid white;
                    border-radius: 6px;
                }
            }
            .label--hidden {
                visibility: hidden;
            }
            textarea {
                border: 2px solid #2F9556;
                border-radius: 6px;
            }
        }
    }
}

.soc-box {
    a {
        margin-right: 5px;
        &:nth-last-child(1) {
            margin-right: 0;
        }
    }
}

.modal-dialog {
    width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    margin: 0;
    background-color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 50px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.modal-content {
    background-color: transparent;
    border-radius: 0;
    width: 90%;
    max-width: 1300px;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    border: none;
}

.modal-header {
    border: none;
    margin-bottom: 9vw;
    .modal-title {
        font-family: 'SequelSans-Bold', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 42px;
        line-height: 1;
        color: #E7FFE9;
        text-transform: uppercase;
    }
}

.text-ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 70px;
    li {
        font-family: 'Sequel Sans-Medium', sans-serif;
        font-size: 16px;
        line-height: 1.5;
        color: #D1D1D1;
        opacity: 0.7;
        text-indent: 8px;
        position: relative;
        margin-bottom: 25px;
        &:before {
            content: '';
            position: absolute;
            top: 7px;
            left: 0;
            width: 5px;
            height: 5px;
            background-color: #D1D1D1;
            border-radius: 100%;
            opacity: 0.7;
        }
    }
}

.text-content {
    max-width: 535px;
    padding-right: 15px;
}

.modal-body {
    height: 100%;
    max-height: 530px;
    overflow-y: scroll;
}


.modal-body::-webkit-scrollbar {
    width: 30px;
    background: #061E0F;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 3px;
}
.modal-body::-webkit-scrollbar-track {
    background: #061E0F;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.modal-body::-webkit-scrollbar-thumb {
    background: #2F9556;
    border-radius: 3px;
}
.modal-header .close {
    padding-right: 0;
    opacity: 1;
    &:hover, &:focus {
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}


@media (max-width: 1400px) {
    footer .bottom {
        margin-top: 35px;
    }
}


@media (max-width: 990px) {
    .header-col {
        width: auto;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .search-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .m-navbar {
        height: 80px;
        .navbar-brand {
            -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
            order: 2;
            min-width: 90px;
        }
        .navbar-collapse {
            position: fixed;
            z-index: 10;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            background-color: #000000;
            -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
            transform: translateY(-100%);
            -webkit-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            opacity: 0;
            &.show {
                -webkit-transform: translateY(0);
                -ms-transform: translateY(0);
                transform: translateY(0);
                -webkit-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
                opacity: 1;
                .navbar-nav .nav-item {
                    -webkit-animation: menu-mobile-show 1s ease;
                    animation: menu-mobile-show 1s ease;
                    &:nth-child(2) {
                        -webkit-animation-delay: 0.1s;
                        animation-delay: 0.1s;
                    }
                    &:nth-child(3) {
                        -webkit-animation-delay: 0.2s;
                        animation-delay: 0.2s;
                    }
                    &:nth-child(4) {
                        -webkit-animation-delay: 0.3s;
                        animation-delay: 0.3s;
                    }
                    &:nth-child(5) {
                        -webkit-animation-delay: 0.4s;
                        animation-delay: 0.4s;
                    }
                }
            }
            .menu-mobile-head {
                width: 100%;
                padding: 30px 20px;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
            }
            .navbar-nav {
                -ms-flex-pack: distribute;
                justify-content: space-around;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                height: auto;
                margin-bottom: 50px;
                .nav-item {
                    margin-left: 0;
                    margin-bottom: 20px;
                    animation-direction: reverse;
                    .nav-link {
                        font-size: 16px;
                    }
                }
            }
        }
        .mobile-logo {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }
    }
    @-webkit-keyframes menu-mobile-show {
        0% {
            opacity: 0;
            -webkit-transform: translateY(100%);
            transform: translateY(100%);
        }
        100% {
            opacity: 1;
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
    }
    @keyframes menu-mobile-show {
        0% {
            opacity: 0;
            -webkit-transform: translateY(100%);
            transform: translateY(100%);
        }
        100% {
            opacity: 1;
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
    }
    .basket-icon {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }
    h1, h2 {
        text-align: center;
    }

    .main-page {
        height: auto;
        padding-top: 70px;
        .main-content {
            -webkit-box-orient: vertical;
            -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            .main-product-carousel {
                width: 40%;
                min-width: 200px;
                .main-product-carousel__item {
                    height: auto;
                    width: 100%;
                    margin: 25px auto;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
        .text-block {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }
        .main-contacts {
            -ms-flex-item-align: end;
            align-self: flex-end;
            padding-top: 0;
            a {
                font-size: 14px;
            }
        }
        .main-footer {
            position: static;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            width: 100%;
            -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
            transform: translate(0, 0);
            margin-top: 35px;
        }
    }
    .two-block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        padding: 50px 0;
        &.column-reverse {
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
        }
        .column {
            width: 100%;
            max-width: 600px;
            .caption {
                text-align: center;
            }
            .text {
                padding-right: 0;
                .quote {
                    display: none;
                }
                p {
                    font-size: 14px;
                }
            }
        }
    }
    .two-block .column .main-btn {
        margin-bottom: 20px;
    }
    .two-block .column .img {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .product-page {
        margin-top: 80px;
        padding-bottom: 100px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        .product-slider-box {
            width: 100%;
            margin-bottom: 50px;
        }
        .page-product-cart__description {
            width: 100%;
        }
    }
    .what-is-block {
        display: none;
    }
}

@media (max-width: 768px) {
    .main-page .main-content .text-block {
        width: 90%;
    }
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 24px;
    }
    .two-block .column .caption {
        font-size: 32px;
    }
    .best-products .caption {
        text-align: center;
        font-size: 30px;
    }
    footer {
        padding: 50px 0;
    }

    .modal-header .modal-title {
        font-size: 32px;
    }

    ::-webkit-scrollbar {
        width: 1px;
    }

    .modal-body::-webkit-scrollbar {
        width: 5px;
    }
}
@media (max-width: 640px) {
    .main-page .main-content .text-block {
        width: 90%;
    }
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 16px;
    }
    .main-page .main-contacts a {
        font-size: 12px;
    }
    .drawer-wrapper .drawer {
        min-width: 100%;
    }
    .carousel-nav-box {
        display: none;
    }

    .slick-dots {
        position: absolute;
        bottom: 0;
        left: 50%;
        -webkit-transform: translate(-50%, 200%);
        -ms-transform: translate(-50%, 200%);
        transform: translate(-50%, 200%);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        list-style: none;
        li {
            width: 10px;
            height: 10px;
            margin: 3px;
            background-color: black;
            border-radius: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            &.slick-active {
                background-color: #008831;
            }
            button {
                background-color: transparent;
                color: transparent;
                font-size: 1px;
                -webkit-box-shadow: none;
                box-shadow: none;
                border: none;
                outline: none;
                padding: 0;
                &:focus, &:hover {
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    border: none;
                    outline: none;
                }
            }
        }
    }

    .product-cart {
        margin: 0;
    }

    footer {
        .bottom {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            .footer-logo {
                margin-top: 20px;
            }
        }
        .copyright {
            text-align: center;
        }
    }
    .product-page {
        .product-slider-box {
            -webkit-box-orient: vertical;
            -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
        }
    }

    .slider-nav__button {
        display: none;
    }
    .thumb-column {
        width: 100%;
        height: 100px;
        margin-right: 0;
        margin-top: 25px;
    }
    .product-slider-box .slider-nav-thumbnails {
        width: 100%;
    }
    .product-slider-box .product-slider {
        width: 100%;
    }
    .product-slider-box .product-slider .product-slider__item {
        height: 350px;
    }
    .product-slider-box .slider-nav-thumbnails .slider-nav-thumbnails__item {
        margin: 0 10px;
    }
}

